<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>This is the menu content.</ion-content>
</ion-menu>


<div id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button style="color: white;"></ion-menu-button>
      </ion-buttons>
      <img style="width: 100px; height: 70px; margin: auto; display: flex; justify-content: center;"
        src="/assets/logo_usinaplay.png">
      <ion-buttons slot="end" class="button-badge"
        style="width: 60px; background-color: #1C1C1C; justify-content: center; margin-right: 2%; border-radius: 27px; height: 60px;">
        <img style="width: 40px; height: 40px; border-radius: 100px; padding: 10px; background-color: black; margin-bottom: 9px;"
          src="/assets/icon_notificacao.png">
        <ion-badge class="icone-badge "></ion-badge>
      </ion-buttons>
    </ion-toolbar>

  </ion-header>
</div>

<ion-content>
  <ion-row style="background-color: #202020; border-radius: 0 0 50px 50px;">
    <div class="flex">
      <ion-col style="max-width: 30%; display: flex; margin-left: 5%;">
        <div style="background-color: #1C1C1C; min-width: 85px; display: flex; padding: 8px;
        border-radius: 100px ">
          <img class="img-usuario" style=" margin: -3px auto auto auto;"
          src="/assets/imagem.jpeg">
        </div>
        <ion-col style="margin: auto auto auto 5%;">
          <h6 class="h6-nome-perfil" style="font-size: 15px;">Jhonatan Torrigo</h6>
          <h6 class="h6-nome-usuario" style="color: #6A36E8;">Nível Roxo</h6>
        </ion-col>
      </ion-col>
    </div>
    <div class="flex" style="width: 80%; background-color: #1C1C1C; border-radius: 100px; padding: 10px;
    margin: auto auto auto auto;">
      <ion-col class="info-usuario" style="display: flex; justify-content: center; background-color: #161616; border-radius: 100px; padding: 10px; margin: -5px auto auto auto;">
        <div style="display: flex;">
          <img class="img-usuario" style="background-color: #C26709; padding: 1px; margin: auto 5px auto auto; width: 20px !important; height: 20px !important"
          src="/assets/icon_corpo.png">
          <h6 style="font-size: 8px; margin: auto 20px auto auto; color: #C26709;">MEU CORPO</h6>
        </div>
        <div style="display: flex;">
          <img class="img-usuario" style="background-color: #C26709; padding: 1px; margin: auto 5px auto auto; width: 20px !important; height: 20px !important"
          src="/assets/icon_trofeu.png">
          <h6 style="font-size: 8px; margin: auto auto auto 0; color: #C26709;">OBJETIVOS E CONQUISTAS</h6>
        </div>
      </ion-col>
    </div>
  </ion-row>

  <ion-row>
    <ion-col>
      <h1>Personal online</h1>
      <p>Novo treino</p>
      <p>Programas</p>
      <p>Continuar treinando</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h1>Levantamento de peso</h1>
      <p>Conteúdos</p>
    </ion-col>
  </ion-row>
</ion-content>