<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Olá, {{this.usuario.nome}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item class="lista-menu-hamburguer">
      <img slot="start" src="/assets/icon_home.png">
      <ion-label (click)="navigateTo('Home')">Home</ion-label>
    </ion-item>
    <ion-item class="lista-menu-hamburguer">
      <img slot="start" src="/assets/icon_treino.png">
      <ion-label (click)="navigateTo('Treinos')">Treinos</ion-label>
    </ion-item>
    <ion-item class="lista-menu-hamburguer">
      <img slot="start" src="/assets/icon_ajuda.png">
      <ion-label (click)="navigateTo('Ajuda')">Ajuda</ion-label>
    </ion-item>
    <ion-item class="lista-menu-hamburguer">
      <img slot="start" src="/assets/icon_sair.png">
      <ion-label (click)="navigateTo('Sair')">Sair</ion-label>
    </ion-item>
  </ion-content>
</ion-menu>


<div id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button style="color: white;"></ion-menu-button>
      </ion-buttons>
      <img class="img-logo" src="/assets/logo_usinaplay.png">
      <ion-buttons slot="end" class="button-badge btn-notificacao">
        <img (click)="botoesTopo('notificacao')" class="img-notificacao" src="/assets/icon_notificacao.png">
        <ion-badge [ngClass]="{'nao-notificacao':  !this.temNotificacao}" class="icone-badge"></ion-badge>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>
  <ion-row class="topo-pagina">
    <div class="flex">
      <ion-col class="dados-usuario">
        <div class="fundo-imagem">
          <img class="img-usuario" [src]="this.usuario.imagem != '' ? '/assets/' + this.usuario.imagem : '/assets/imagem_user.png'">
        </div>
        <ion-col style="margin: auto auto auto 5%;">
          <h6 class="h6-nome-perfil">{{this.usuario.nome}}</h6>
          <h6 class="h6-nivel"
            [ngClass]="{'roxo':  this.usuario.nivel == 'Roxo', 'laranja':  this.usuario.nivel == 'Laranja'}">Nível
            {{this.usuario.nivel}}</h6>
        </ion-col>
      </ion-col>
    </div>
    <div class="modulo-btns">
      <ion-col class="btn-objetivo-corpo">
        <div (click)="botoesTopo('corpo')" style="display: flex;">
          <img class="img-geral" src="/assets/icon_corpo.png">
          <h6 class="btns">MEU CORPO</h6>
        </div>
        <div (click)="botoesTopo('objetivos')" style="display: flex;">
          <img class="img-geral" src="/assets/icon_trofeu.png">
          <h6 class="btns" style="margin-left: 0;">OBJETIVOS E CONQUISTAS</h6>
        </div>
      </ion-col>
    </div>
  </ion-row>

  <ion-row>
    <ion-col>
      <app-treinos-carrossel [tipo]="this.planilhas.treino"
        [quantidade_treinos]="this.planilhas.treinos"></app-treinos-carrossel>
      <app-treinos-carrossel [tipo]="this.planilhas.programa"
        [quantidade_programas]="this.planilhas.programas"></app-treinos-carrossel>
      <app-treinos-carrossel [tipo]="this.planilhas.conteudo"></app-treinos-carrossel>
    </ion-col>
  </ion-row>
</ion-content>